name: test
on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Luacheck
        uses: lunarmodules/luacheck@v1.2.0

  install-plugins:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v4

      - name: Install Neovim
        uses: matsuu/neovim-installer@v1
        with:
          neovim-version: 'v0.10.0'

      - name: Install plugins
        run: |
          nvim --headless \
            -u init.lua \
            -c "autocmd User LazySync quitautocmd" \
            -c "Lazy sync"